<!DOCTYPE html>
<html>	
	<head>
		<title>Ucc Timetabler</title>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body>
		<div id='content'>
			<h1>UCC Timetabler</h1>
			<a class='btn btn-primary' href="{{url}}">Click to sign in to your Google/Umail Account</a>
		</div>

		<div id='footer'>
			<p>Any bugs, problems, whatever, email me at <a href="mailto:mark.dunne02@gmail.com">mark.dunne02@gmail.com</a></p>
		</div>
	</body>
</html>